In [13]:
import pandas as pd
big = pd.read_excel('/Users/USER/Desktop/BIG_Planilha.xlsx' , sheet_name = 'Rio')

In [14]:
od = big.loc[:,['Oxi (mg/L)']]
tu = big.loc[:,['Turbidez']]
ph = big.loc[:,['ph']]
cod =  big.loc[:,['COD (mg/L)']]
nt = big.loc[:,['NT (mg/L)']]
col = big.loc[:,['Coliformes Total (NMP/100ml)']]
ec = big.loc[:,['Escherichia Coli (NMP/100ml)']]
vi = big.loc[:,['Vibrio (CFU/ml)']]
p = big.loc[:,['P (µg/mL)']]
fe = big.loc[:,['Fe (µg/mL)']]
ars = big.loc[:,['As(µg/mL)']]
cd = big.loc[:,['Cd (µg/mL)']]
co = big.loc[:,['Co (µg/mL)']]
cr = big.loc[:,['Cr (µg/mL)']]
al = big.loc[:,['Al']]

In [15]:
par = [od,tu,ph,cod,nt,col,ec,vi,p,fe,ars,cd,co,cr,al]
import numpy as np
from scipy import stats
#rng = np.random.default_rng()

shp = []
for i in par:
    shp.append(stats.shapiro(i))

print(shp)

[ShapiroResult(statistic=0.9301886558532715, pvalue=0.0007610638858750463), ShapiroResult(statistic=0.5186241865158081, pvalue=8.576228919740525e-14), ShapiroResult(statistic=0.9705966114997864, pvalue=0.09851378947496414), ShapiroResult(statistic=0.7905235290527344, pvalue=1.3493639094974696e-08), ShapiroResult(statistic=0.46992623805999756, pvalue=1.7429542645318666e-14), ShapiroResult(statistic=0.5046943426132202, pvalue=5.375295477824671e-14), ShapiroResult(statistic=0.4007915258407593, pvalue=2.1568641563393795e-15), ShapiroResult(statistic=nan, pvalue=1.0), ShapiroResult(statistic=0.5807105302810669, pvalue=7.801862454692721e-13), ShapiroResult(statistic=0.6126956939697266, pvalue=2.6657710327365747e-12), ShapiroResult(statistic=0.6849191188812256, pvalue=5.679655704082798e-11), ShapiroResult(statistic=0.25964879989624023, pvalue=4.9731521177341615e-17), ShapiroResult(statistic=0.3120352625846863, pvalue=1.8833686261459742e-16), ShapiroResult(statistic=0.6164003610610962, pvalue=3.0874274491166087e-12), ShapiroResult(statistic=0.6509774923324585, pvalue=1.2778451040362793e-11)]

In [16]:
#ANOVA
do = big.loc[:,['Data da Coleta','Localidade','Oxi (mg/L)']]
ut = big.loc[:,['Data da Coleta','Localidade','Turbidez']]
hp = big.loc[:,['Data da Coleta','Localidade','ph']]
doc =  big.loc[:,['Data da Coleta','Localidade','COD (mg/L)']]
tn = big.loc[:,['Data da Coleta','Localidade','NT (mg/L)']]
lco = big.loc[:,['Data da Coleta','Localidade','Coliformes Total (NMP/100ml)']]
ce = big.loc[:,['Data da Coleta','Localidade','Escherichia Coli (NMP/100ml)']]
iv = big.loc[:,['Data da Coleta','Localidade','Vibrio (CFU/ml)']]
p_ = big.loc[:,['Data da Coleta','Localidade','P (µg/mL)']]
ef = big.loc[:,['Data da Coleta','Localidade','Fe (µg/mL)']]
sra = big.loc[:,['Data da Coleta','Localidade','As(µg/mL)']]
dc = big.loc[:,['Data da Coleta','Localidade','Cd (µg/mL)']]
oc = big.loc[:,['Data da Coleta','Localidade','Co (µg/mL)']]
rc = big.loc[:,['Data da Coleta','Localidade','Cr (µg/mL)']]
la = big.loc[:,['Data da Coleta','Localidade','Al']]

In [17]:
do_pivot = pd.pivot(do, index='Data da Coleta', columns='Localidade', values='Oxi (mg/L)')
ut_pivot = pd.pivot(ut, index='Data da Coleta', columns='Localidade', values='Turbidez')
hp_pivot = pd.pivot(hp, index='Data da Coleta', columns='Localidade', values='ph')
doc_pivot = pd.pivot(doc, index='Data da Coleta', columns='Localidade', values='COD (mg/L)')
tn_pivot = pd.pivot(tn, index='Data da Coleta', columns='Localidade', values='NT (mg/L)')
lco_pivot = pd.pivot(lco, index='Data da Coleta', columns='Localidade', values='Coliformes Total (NMP/100ml)')
ce_pivot = pd.pivot(ce, index='Data da Coleta', columns='Localidade', values='Escherichia Coli (NMP/100ml)')
iv_pivot = pd.pivot(iv, index='Data da Coleta', columns='Localidade', values='Vibrio (CFU/ml)')
p_pivot = pd.pivot(p_, index='Data da Coleta', columns='Localidade', values='P (µg/mL)')
ef_pivot = pd.pivot(ef, index='Data da Coleta', columns='Localidade', values='Fe (µg/mL)')
sra_pivot =pd.pivot(sra, index='Data da Coleta', columns='Localidade', values='As(µg/mL)')
dc_pivot = pd.pivot(dc, index='Data da Coleta', columns='Localidade', values='Cd (µg/mL)')
oc_pivot =pd.pivot(oc, index='Data da Coleta', columns='Localidade', values='Co (µg/mL)')
rc_pivot = pd.pivot(rc, index='Data da Coleta', columns='Localidade', values='Cr (µg/mL)')
la_pivot = pd.pivot(la, index='Data da Coleta', columns='Localidade', values='Al')

In [18]:
iv_pivot

Localidade,Bracui,Centro de Angra,Fazenda Roque,Frade,Jacareí,Jacuecanga,Mambucaba,Parati,Rio do Meio,Taquari
Data da Coleta,,,,,,,,,,
2022-02-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,344.425
2022-02-22,10.0,820.0,13.0,27.0,3.0,700.0,127.0,37.0,107.0,17.000
2022-03-23,7.0,4263.0,13.0,17.0,180.0,913.0,3.0,30.0,620.0,7.000
2022-04-26,37.0,563.0,113.0,10.0,30.0,617.0,63.0,30.0,167.0,0.000
2022-09-27,0.0,2360.0,17.0,0.0,10.0,1113.0,3.0,30.0,697.0,3.000
2022-11-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
import scipy.stats as stats
# stats f_oneway functions takes the groups as input and returns ANOVA F and p value
par2 = [do_pivot, ut_pivot, hp_pivot, doc_pivot, tn_pivot, lco_pivot, ce_pivot, iv_pivot, p_pivot,ef_pivot,sra_pivot,dc_pivot,oc_pivot,
       rc_pivot, la_pivot]
anov = []

for i in par2:
    anov.append(stats.f_oneway(i['Centro de Angra'], i['Fazenda Roque'], i['Frade'], i['Jacareí'], 
                               i['Jacuecanga'], i['Mambucaba'],i['Parati'],i['Taquari']))

print(anov)

[F_onewayResult(statistic=2.028738978231874, pvalue=0.07054952477326412), F_onewayResult(statistic=0.4707592695833233, pvalue=0.8508757885031524), F_onewayResult(statistic=1.531120594834792, pvalue=0.1795796938098018), F_onewayResult(statistic=2.1727743245030418, pvalue=0.053463694732761184), F_onewayResult(statistic=3.2830773971639426, pvalue=0.006230876836282125), F_onewayResult(statistic=4.01710302670465, pvalue=0.001557672053432725), F_onewayResult(statistic=5.383431247025542, pvalue=0.0001346132025915452), F_onewayResult(statistic=nan, pvalue=nan), F_onewayResult(statistic=2.5531825561695096, pvalue=0.025563273554173014), F_onewayResult(statistic=1.5638692105674126, pvalue=0.1691639435968059), F_onewayResult(statistic=0.025448155851168462, pvalue=0.9999800428985083), F_onewayResult(statistic=0.1405978311220978, pvalue=0.9944298028907418), F_onewayResult(statistic=1.146644902452088, pvalue=0.35076202171353416), F_onewayResult(statistic=0.2240734587196304, pvalue=0.9777669032679464), F_onewayResult(statistic=1.0022583696760967, pvalue=0.441454639186485)]